---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";



---


<Layout>

    <Main>
        <H1 text="Thank you for reaching out!"  />
        <p class="text-lg">Your submission has been received. We will get back to you shortly.</p>  
    </Main>
</Layout>